<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Kanban{% endblock %}</title>
    {% block page_css %}{% endblock %}
</head>

<body>

    <header>
        {% if user.is_authenticated %}
            <p>Olá, {{ user.username }}!</p>

            <form method="post" action="{% url 'authentication:logout' %}">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        {% endif %}
    </header>

    <main>
        {% block page_content %}{% endblock %}
    </main>

    <footer>
        {% block page_footer %}{% endblock %}
    </footer>

</body>

</html>